<h2>Session {{model.id}}</h2>

<div class="btn-group" role="group">
  <button id="command-continue" class="btn btn-default" data-toggle="tooltip" title="Continue" {{action "resume"}}>
    {{fa-icon 'play-circle'}}
  </button>

  <button id="command-next" class="btn btn-default" data-toggle="tooltip" title="Next line" {{action "next"}}>
    {{fa-icon 'long-arrow-down'}}
  </button>

  <button id="command-step" class="btn btn-default" data-toggle="tooltip" title="Next step" {{action "step"}}>
    {{fa-icon 'fa-level-up' rotate=90}}
  </button>
</div>

Code:
{{#each file in model.files}}
  <pre>{{file.source_code}}</pre>
{{/each}}

<ul>
{{#each break_ in model.breaks}}
  <li>{{break_.file.filename}}:{{break_.lineno}}</li>
{{/each}}
</ul>

{{outlet}}

{{log model}}