<h2>Session {{model.id}}</h2>

<div>
{{#if model.lastBreak.isPending}}
  <img src="http://i639.photobucket.com/albums/uu116/pksjce/spiffygif_18x18.gif">
{{else}}
  {{#if model.lastFile.isPending}}
    <img src="http://i639.photobucket.com/albums/uu116/pksjce/spiffygif_18x18.gif">
  {{else}}
    <h4>{{model.lastFile.filename}}</h4>
    {{highlight-js code=model.currentCode lang='python' hasLineNumbers=true}}
  {{/if}}
{{/if}}
</div>

{{outlet}}
