<!-- Sidebar -->
<div id="sidebar-wrapper">
  <table class="table variables-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Foo</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">bar</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">yooo</th>
        <td>Larry</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- /#sidebar-wrapper -->

<div class="source-code-wrapper">
  {{#if model.lastBreak.isPending}}
    <img src="/assets/images/ajax-loader.gif">
  {{else}}
    {{#if model.lastFile.isPending}}
      <img src="/assets/images/ajax-loader.gif">
    {{else}}
      {{highlight-js code=model.currentCode lang='python' hasLineNumbers=true}}
    {{/if}}
  {{/if}}
</div>

{{outlet}}

<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-collapse collapse" id="footer-body">
        {{#if model.lastFile.isPending}}
          <img src="/assets/images/ajax-loader.gif">
        {{else}}
          <span class="current-file-name">{{model.lastFile.filename}} : {{model.lastBreak.lineno}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</footer>