<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li title="BugBuzz Python debugging library">
      <a href="https://github.com/fangpenlin/bugbuzz-python" target="_blank">{{fa-icon 'github-alt'}} Python lib</a>
    </li>
    <li title="Author Fang-Pen Lin">
      <a href="https://twitter.com/fangpenlin" target="_blank">{{fa-icon 'child'}} Author</a>
    </li>
    {{#unless model.needsAccessKey}}
      <li id="command-continue" data-toggle="tooltip" title="Continue (C)" {{action "resume"}}>
        <a>{{fa-icon 'play-circle'}}</a>
      </li>

      <li id="command-return" data-toggle="tooltip" title="Return current function (H)" {{action "returnFunction"}}>
        <a>{{fa-icon 'long-arrow-left'}}</a>
      </li>

      <li id="command-next" data-toggle="tooltip" title="Next line (J)" {{action "next"}}>
        <a>{{fa-icon 'long-arrow-down'}}</a>
      </li>

      <li id="command-step" data-toggle="tooltip" title="Next step (L)" {{action "step"}}>
        <a>{{fa-icon 'long-arrow-right'}}</a>
      </li>
    {{/unless}}
  </ul>

  {{#unless model.needsAccessKey}}
    <form class="navbar-form navbar-right" role="link" title="Sharable link to this debugging session">
      <div class="input-group">
        <span class="input-group-addon">{{fa-icon 'share-alt-square'}}</span>
        {{view 'click-copy-input' class='form-control' readonly='readonly' value=accessKeyURL}}
      </div>
    </form>
  {{/unless}}

</div><!--/.nav-collapse -->
