<li id="command-continue" data-toggle="tooltip" title="Continue (C)" {{action "resume"}}>
  <a>{{fa-icon 'play-circle'}}</a>
</li>

<li id="command-return" data-toggle="tooltip" title="Return current function (H)" {{action "returnFunction"}}>
  <a>{{fa-icon 'long-arrow-left'}}</a>
</li>

<li id="command-next" data-toggle="tooltip" title="Next line (J)" {{action "next"}}>
  <a>{{fa-icon 'long-arrow-down'}}</a>
</li>

<li id="command-step" data-toggle="tooltip" title="Next step (L)" {{action "step"}}>
  <a>{{fa-icon 'long-arrow-right'}}</a>
</li>
