<li id="command-continue" data-toggle="tooltip" title="Continue" {{action "resume"}}>
  <a>{{fa-icon 'play-circle'}}</a>
</li>

<li id="command-next" data-toggle="tooltip" title="Next line" {{action "next"}}>
  <a>{{fa-icon 'long-arrow-down'}}</a>
</li>

<li id="command-step" data-toggle="tooltip" title="Next step" {{action "step"}}>
  <a>{{fa-icon 'fa-level-up' rotate=90}}</a>
</li>
